@import "../../../scss/variable";

.sidebar-item {
  background: $bg_color;
  color: rgba(0, 0, 0, 0.5) !important;
  padding: 0.92857143em 1.14285714em !important;
  span {
    i.icon {
      color: $sidebar_icon;
    }
  }

  &.highlight-item {
    span {
      font-weight: 600;
    }

    i.icon {
      color: $icon_highlight;
    }
  }

  &__container {
    &--thin {
      display: flex;
      align-items: center;
    }
  }
}
